// Place all the styles related to the album_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.album-banner {
  background: linear-gradient(
    to right,
    #dedbd3 0%,
    #dedbd3 0%,
    #dedbd3 40%,
    #e4b2b89b 100%
  );
  height: 450px;
  display: flex;
}

.album-img {
  height: 25rem;
  width: 25rem;
  margin-top: 5px;
}

.album-name {
  margin-right: 12.5rem;
}

.artist-nm {
  margin-top: 0.75rem;
}

.songs {
  margin-left: 0.875rem;
  margin-top: 1rem;
}

.album-details {
  display: flex;
  justify-content: center;
}

.rating-box {
  width: 6.25rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  margin-top: 8.75rem;
  border-radius: 10%;
  font-size: 1.56rem;
}

.rating {
  margin-right: 0.813rem;
  margin-top: 0.438rem;
}

.rating-text {
  margin-right: 0.813rem;
  margin-top: 0.438rem;
}

.album-info {
  margin-top: 8.438rem;
}

.album-review {
  border: 1mm ridge #dedbd3;
  width: 600px;
  margin-right: 1.25rem;
  border-radius: 1.25rem;
}

#album_review_description {
  width: 137%;
  height: 15.125rem;
  margin-left: -2.625rem;
  border-radius: 0.625rem;
  margin-top: -2.563rem;
}

#album_review_rating {
  margin-left: -2.5rem;
  width: 137%;
  border-radius: 0.625rem;
}

.album-submit {
  margin-left: -2.563rem;
}

.display-album-reviews {
  display: flex;
  justify-content: space-between;
  margin-left: 4.125rem;
}

.album-rating {
  margin-right: 1.563rem;
  margin-top: -1.625rem;
}

.reviews {
  background-color: #dedbd3;
  border-radius: 0.625rem;
}

.review-user-image {
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  object-fit: cover;
  object-position: 0 10%;
}

.display-songs {
  width: 98%;
  margin-left: 1%;
}

.review-submit {
  margin-left: -2.438rem;
  width: 137%;
}

.rating-value {
  margin-right: 0.625rem;
}

.text-rating {
  margin-left: -1.875rem;
}

.album-box {
  margin-top: 8.938rem;
  margin-right: -1.375rem;
}

.no-reviews-title {
  text-align: center;
}
