// Place all the styles related to the album_reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.album-banner {
  background: linear-gradient(
    to right,
    #DEDBD3 0%,
    #DEDBD3 0%,
    #DEDBD3 40%,
    #e4b2b89b 100%
  );
  height: 450px;
  display: flex;
}

.album-img {
  height: 400px;
  width: 400px;
  margin-top: 5px;

}

.album-name {
  margin-right: 200px;
}

.artist-nm {
  margin-top: 12px;
}

.songs {
  margin-left: 14px;
  margin-top: 16px;
}

.album-details {
  display: flex;
  justify-content: center;
}

.rating-box {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  border-radius: 10%;
  font-size: 25px;
}

.rating {
  margin-right: 13px;
  margin-top: 7px;
}

.rating-text {
  margin-right: 13px;
  margin-top: 7px;
}

.album-info {
  margin-top: 135px;
}

.album-review {
  border: 1mm ridge #DEDBD3;
  width: 600px;
  margin-right: 20px;
  border-radius: 20px;
}

#album_review_description {
  width: 130.5%;
  height: 242px;
  margin-left: -42px;
  border-radius: 10px;
  margin-top: -41px;
}

#album_review_rating {
  margin-left: -40px;
  width: 129.5%;
  border-radius: 10px;
}

.album-submit {
  margin-left: -41px;
}

.display-album-reviews {
  display: flex;
  justify-content: space-between;
  margin-left: 66px;
}


.album-rating {
  margin-right: 25px;
  margin-top: -26px;
}


.reviews {
  background-color:  #DEDBD3 ;
  border-radius: 10px;
}

.review-user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 0 10%;
}

.display-songs {
  width: 98%;
  margin-left: 1%;
}

.review-submit {
  margin-left: -39px;
  width: 104.5%;
}

.rating-value {
  margin-right: 10px;
}

.text-rating {
  margin-left: -30px;
}

.album-box {
  margin-top: 143px;
  margin-right: -22px;
}
