.song-banner {
  background: linear-gradient(
    to right,
    #e4b2b89b 0%,
    #e4b2b89b 0%,
    #e4b2b89b 40%,
    #dedbd3 100%
  );
  height: 450px;
}
.song-name{
  flex-grow: 1;
}

.song-img {
  height: 25rem;
  width: 25rem;
  margin-top: 12.5px;
  margin-right: 2rem;
  margin-left: 0.5rem;
}

.song-rating-box {
  margin-right: -1.875rem;
  margin-top: 0.313rem;
}

.song-container {
  margin-top: 9.75rem;
}

.song-review {
  border: 1mm ridge #dedbd3;
  width: 570px;
  margin-right: 1.25rem;
  border-radius: 1.25rem;
  margin-left: 1.25rem;
  height: 420px;
  margin-top: 1rem;
}

#song_review_description {
  width: 140%;
  height: 15.125rem;
  margin-left: -2.625rem;
  border-radius: 0.625rem;
  margin-top: -2.563rem;
  position: relative;
}

#song_review_rating {
  margin-left: -2.5625rem;
  width: 140%;
  border-radius: 0.625rem;
  position: relative;
}

.song-submit{
  margin-left: -2.625rem;
  width: 140%;
  height: 38px;
  position: relative;
}

.rating-text {
  margin-left: -32px;
  width: 125%;
}

.display-song-reviews {
  width: 80%;
}

.song-box {
  margin-top: 0.5rem;
  margin-right: -1.75rem;
}
