#hero-banner {
  background-image: url(DJ.png);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-heading {
  font-size: 5rem !important;
  margin-top: 2rem !important;
}

.double-underline {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #c3915ed0;
  color: #c3905e !important;
}

.item {
  color: black !important;
}

//// HOME PAGE

#accountBtn {
  color: black !important;
}

.smaller-text {
  font-size: 12px !important;
  color: lightgray !important;
}

.segment-heading {
  font-size: 2.5rem !important;
}
