<div class="image">
  <img src=<%= results.images[0]['url'] %>>
</div>
<div class="content">
  <a class="header"><%= results.name %></a>
  <div class="meta">
    <p class="date"><%= results.genres[0] %></p>
  </div>
</div>
<div class="extra content">
  <a>
    <i class="fa-solid fa-fire"></i>
    <%= results.popularity %> Score
  </a>
</div>
