<div class='ui container'>
  <%= render 'partials/heading_component', {title: 'Albums'} %>
  <div class="ui link cards">
    <% @artists.each do |result|  %>
      <div class='card'><%= render 'partials/cards', {results: result} %></div>
    <% end %>
  </div>
</div>
<div>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
</div>
