   <% if notice %>
  <div class="alert alert-success container">
    <strong>Success!</strong> <%= notice %>
  </div>
  <% if alert %>
    <div class="alert alert-danger">
      <strong>Danger!</strong> <%= alert %>
    </div>
  <% end %>
<% end %>
