<div class="ui inverted vertical masthead center aligned segment" id='hero-banner'>
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item">Home</a>
      <a class="item">Profile</a>
      <div class="right item">
        <a class="ui inverted button">Log in / Sign up</a>
      </div>
    </div>
  </div>
  <div class="ui text container major-1">
    <h1 class="ui inverted header hero-heading">
      Made For You, By Music Lovers
    </h1>
    <h2>Noted is a music website for music lovers to express their opinions about music.</h2>
    <div class="ui fluid icon input">
      <input type="text" placeholder="Search a very wide input...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
