<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6 relative-position">
    <%= cl_image_tag("Life_With_Music_a0o7ut",
      width: 700, height: 500, crop: :fill, class: 'd-block mx-lg-auto img-fluid clip-path-banner') %>
    <div class='icons-container'>
      <%= icon('fa-solid', 'backward', class: 'icons-play-banner')%>
      <%= icon('fa-solid', 'play', class: 'icons-play-banner')%>
      <%= icon('fa-solid', 'forward', class: 'icons-play-banner')%>
    </div>
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3"> Made For You, By Music Lovers  </i>
  </i></h1>
<p class="lead">Noted is a music website for music lovers to express their opinions about music, share saved music and look at user reviews, this is why they choose noted.
  Be apart of a music community and share the music they love.</p>
<div class="input-group md-form form-sm form-2 pl-0">
  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search" aria-label="Search">
  <div class="input-group-append">
    <span class="input-group-text red lighten-3" id="basic-text1"><i class="fas fa-search fa-2x text-grey"
        aria-hidden="true"></i></span>
  </div>
</div>
</div>
