<div class='container-fluid'>
  <div class='row hero-background'>
    <div class='col-1'>
      <div class='divider-noted'></div>
    </div>
    <div class='col-6 flex-column d-flex sign-up-btn align-self-center'>
      <h1 class='text-decoration-underline mb-0'><img src='https://res.cloudinary.com/dh8a307rs/image/upload/v1657791144/Artboard_3_tztpx9.png'></h1>
      <p class='fw-semibold fs-5 hero-text ms-4'>The music platform made by music lovers, for music lovers</p>
      <%if user_signed_in? %>
      <% else %>
        <a href='/users/sign_up' class="btn btn-outline-dark btn-lg align-self-start ms-4">Sign up</a>
      <% end %>
    </div>
    <div class='col-5 d-flex'>
      <img src='https://res.cloudinary.com/dh8a307rs/image/upload/v1659157253/Kendrick_hdtf0x.webp' class='hero-img'>
    </div>
  </div>
</div>
