<div class='row hero-background'>
  <div class='col-1'>
    <div class='divider-noted'></div>
  </div>
  <div class='col-5 align-self-center flex-column d-flex sign-up-btn'>
    <h1 class='text-decoration-underline hero-heading'>Noted</h1>
    <p class='fw-semibold fs-5'>The music platform made by music lovers, for music lovers</p>
    <a href='/users/sign_in' class="btn btn-outline-dark btn-lg align-self-start sign-up-btn-btn">Sign up</a>
  </div>
  <div class='col-6'>
    <img src='https://res.cloudinary.com/dh8a307rs/image/upload/v1657948602/Steve_Lacy_jwuj05.webp' class='hero-img'>
  </div>
</div>
