<div class='row h-50 hero-background'>
  <div class='col-6'>1</div>
  <div class='col-6 m-0'>
    <img src='https://res.cloudinary.com/dh8a307rs/image/upload/v1657939249/kendrick_e64hfa.webp'>
  </div>
</div>
