<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Noted</a>
    <form class="d-flex" role="search">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
    </form>
  </div>
</nav>
