<nav class="navbar bg-light navbar-noted">
  <div class="container-fluid">
    <a class="navbar-brand">Noted</a>
   <%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group d-flex">
    <input class="form-control" type="text" name="search[query]" id="search_query" />
     <%= image_tag "https://res.cloudinary.com/dh8a307rs/image/upload/v1657787905/default-avatar-placeholder-profile-icon-male-vector_x1rvvj.jpg", class: "avatar dropdown-toggle ms-5", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  </div>
<% end %>
  </div>
</nav>


    <%# <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button> %>
