<div class = "quad-display-container">
  <div class = "quad-item">
    Lost
  </div>
  <div class = "quad-item">
  Skate
  </div>
  <div class = "quad-item">
  Ctrl
  </div>
  <div class = "quad-item">
  Money Trees
  </div>
</div>
