<div class="container">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-sm-6">
          <%= render partial: 'partials/song-squares' %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'partials/song-squares' %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'partials/song-squares' %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'partials/song-squares' %>
        </div>
      </div>
    </div>
  </div>
</div>
