<div class="card" style="width: 25rem;">
  <div class="card-top p-2 d-flex justify-content-evenly  ">
    <span><i class="fa-solid fa-music"></i> 3.7</span>
    <h5>1.Imagine</h5>
    <p>3.22</p>
    <p>Thank u, next</p>
    <p>- 2019</p>
  </div>
  <div class="bg-white" style="height: 10rem;"></div>
  <div class="card-bottom d-flex p-2 mt-3 justify-content-between">
    <span><i class="fa-solid fa-music"></i> 3.7/5</span>
    <button>Edit</button>
  </div>
</div>
