<div class="card d-flex justify-content-evenly align-items-start mb-3 square">
  <div class="square-top content">
    <h5 class="song-title fs-1 ms-3">Lost</h5>
    <p class="song-info light-font ms-3">3.53 | Channel Orange - 2012</p>
  </div>

  <div class="square-bottom content">
    <p class="song-artist ms-3 ">Frank Ocean</p>
    <button class="ms-3 border border-2 border-dark py-2 rounded fs-6 px-3 "><i class="fa-solid fa-music"></i> 3.7</button>
  </div>
</div>
