<%= render 'partials/hero_banner' %>
<%= render 'partials/segment_banner', {
  main_title: 'Noted',
  main_body: 'We can give your opinions superpowers to do things that they never thought possible. Let us delight you and empower your needs...give noted a try today.',
  secondary_title: 'What we do?',
  secondary_body: 'In simple terms, we bring the music to you, then its up to you and everyone else to share your views about particualr songs and albums',
  image_link: "https://res.cloudinary.com/dh8a307rs/image/upload/v1655608178/music-note_zxz7nr.png",
  inverted: ''
  } %>
<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>"I love this desktop app"</h3>
        <p>That is what they all say about us</p>
      </div>
      <div class="column">
        <h3>"I have been an active user now for 2 months"</h3>
        <p>
          <img class="ui avatar image" src="https://res.cloudinary.com/dh8a307rs/image/upload/v1655277896/female_njdm66.png">
          <b>Billy Bob</b> Knows his stuff
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
</div>
