<h1>Noted</h1>
<!-- Scroll Button -->
<div>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
</div>
<% if user_signed_in? %>
  <%= link_to "logout", destroy_user_session_path, method: :delete  %>
<% end %>
