<!--EXAMPLE OBJECT OF PATTERN TO FOLLOW WHEN LOOPING AND STORING CARDS -->
<div class='container'>
  <div class='row'>
    <% @artists.each do |artist| %>
      <div class='col mb-2'>
        <%= render 'partials/card', data: artist  %>
      </div>
    <% end %>
  </div>
</div>
<!-- Scroll Button -->
<div>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
</div>
<% if user_signed_in? %>
  <%= link_to "logout", destroy_user_session_path, method: :delete  %>
<% end %>
