<div class='container'>
  <h3 class='mb-5 mt-5'>Here are your results!</h3>
  <div class='row'>
    <% @results_artist.each do |artist| %>
      <div class='col-sm-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center'>
        <a href=<%="/pages/search/#{artist.id}/artist"%> class='link-dark text-decoration-none'>
          <%= render "partials/card", data: artist %>
        </a>
      </div>
    <% end %>
  </div>
</div>
