<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4 rounded-pill" src="<%= @artist.images[0]['url'] %>" alt="" width="72" height="57">
  <h1 class="display-5 fw-bold"><%= @artist.name %></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><%= @artist.genres[0]  %></p>
  </div>
</div>
<#%= @artist.albums  %>
