.dot{
width: 20px;
height: 20px;
border: 1px solid white;
border-radius: 50%;
background-color: white;
}

.album-image{
  width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 5%;
  padding: 0%;
}

.card{
border-radius: 25px;
background-color: #B4C3B2;
}

.card{
  transition: 0.3s;

  &:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }
}

.card-top{
  background-color: #DEDBD3;
  border-radius: 25px 25px 0 0;
}

.card-bottom{
  border-radius: 25px;
  }


.light-font{
  font-size: 12px;
  font-weight: 100;
}

.rounded{
  border-radius: 0.5rem !important;
  background-color: #B4C3B2;
}

.square{
  width: 100%;
  height: width;
}
