.hero-background {
  background-color: #DEDBD3;
  margin-bottom: 1.2rem;
  height: 70vh;
  overflow: hidden;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.divider-noted {
  height: 100%;
  border-right: 3px #B4C3B2 solid;
}

.heading {
  font-size: 8rem;
}
