.relative-home {
  position: relative;
}

.box-figure {
  margin: 3rem;
}

.music-man {
  height: 200px;
  position: absolute;
  top: 90%;
}

.music-man-caption {
  border: 1px solid black;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  color: #4D5759;
}
