.navbar-noted {
  background: #b4c3b2 !important;
}

.noted-heading {
  color: #4D5759
}

.navbar-noted .navbar-collapse {
  flex-grow: 0;
}

.navbar-noted .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-size: 2rem;
}
