/// TOP HERO BANNER
.clip-path-banner {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

///ICONS

.icons-container {
  position: absolute;
  right: 42%;
}

.icons-play-banner {
  font-size: 48px;
  margin-left: 35px;
  margin-top: 4px;
  color: black;
}

/// HELPER CSS

.relative-position {
  position: relative;
}

/// OVERIRDES
.btn-primary {
  background-color: #ff8e3c !important;
  color: #0d0d0d !important;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}

/// CARDS

// BOTTOM BANNER

.banner-trending {
  position: absolute;
  bottom: 25%;
  right: 0%;
  margin: 30px;
}

.banner-trending-realtive {
  position: relative;
}
