@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "semantic-ui";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "components/alert";
@import "components/navbar.scss";
@import "components/homepage.scss";
@import "components/topButton.scss";

// GLOBAL CSS
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #eff0f3;
}

p {
  color: #2a2a2a;
}

hr {
  color: black;
  height: 10px;
}

// SIMPLE MEDIA QUERY HOMEPAGE
@media (max-width: 500px) {
  .banner-trending {
    display: none;
  }

  .relative-position {
    display: none;
  }

  .cards {
    align-self: center;
    justify-content: center;
  }

  .table-image {
    display: none;
  }
}
///////////////////////////
