// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/alert";
@import "components/index.scss";
@import "components/rating_box";
@import "artists-search";
@import "users";

.bg-noted {
  background-color: #dedbd3;
}

.noted-home-image {
  background-position: center center;
  background-size: cover;
  background-blend-mode: exclusion;
}

.blend-noted {
  text-shadow: 1px 1px #060202;
}
