// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$card-delay: 0.12s;


.cover-page {
  display: flex;
  color: blue;
  justify-content: space-between;
  height: 85vh;
}

.artist-container {
  margin: 0;
}

.artist-main {
  flex: 1;
  background-color: #DEDBD3;
  display: flex;
}
.artist-image {
  flex: 1;
  background-size: cover;
}

.divider {
  height: 90%;
  border-right: 3px #B4C3B2 solid;
  margin-left: 25px;
  margin-top: auto;
}

.artist-info {
  margin-top: auto;
  padding-left: 40px ;
  padding-bottom: 80px;
  color: #4D5759;

}

.artist-name {
  font-size: 60px;
  color: #4D5759;
}


.more-btn {
  color: black;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #6A6A6A;
  outline: none;
  border: 0px;
  font-size: 15px;
  padding: 5px 20px;
}

.artist-stats {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews-title {
  color: #4D5759;
  font-size: 25px;
}

.title-divider {
  border-top: 2px solid black;
  padding-top: 5px;
}

.song-name {
}


.reviewed-songs {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  margin-top: 10px;
}

.song-item {
  display: flex;
  background-color: #B4C3B2;
  border-radius: 10px;
  padding: 8px 20px;
  justify-content: space-between;
}


.song-item:hover {
  cursor: pointer;
  background-color: #b4c3b28f;
}
.song-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

.song-reviews {
  display: flex;
  border-radius: 15px;
  border: 0px;
  background-color: #DEDBD3;
  padding: 2px 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.reviewed-albums-container {
  margin-top: 20px;
}

.reviewed-albums {
  display: flex;
  padding: 3rem;
}
.albums-review-img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}

.reviewed-albums-item {
  border: 2px solid black;

  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 250px;
  padding: 1.5rem;

  border-radius: 16px;
  background: #B4C3B2 ;

  transition: 0.2s;

  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.reviewed-albums-item:hover {
  transform: translateY(-1rem);
  background-color: #9dac9b;
  cursor: pointer;

  a {
    border-radius:10px ;
  }
}

.reviewed-albums-item:hover~.reviewed-albums-item {
  transform: translateX((130px));
}


.reviewed-albums-item:not(:first-child) {
  margin-left: -130px;
}

.reviewed-albums {
  overflow: scroll;
}

.reviewed-album-title {
  font-size: large;
  font-weight: bold;
  font-style: italic;
  padding-top: 10px;
}


.show-more-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.fa-circle-chevron-down {
  color: #B4C3B2;
  font-size: 25px;
}

.fa-circle-chevron-down:hover {
  color: #768873;
  cursor: pointer;
}

.reviewed-album-title >  a{
  text-decoration: none;
  color: #4D5759;
  transition: none;
}

.reviewed-album-title  > a:hover {
  color:white;
  background-color: transparent;
  border: 0px;
}

.song-reviews:hover {
  background-color: #b4c3b2;

}


.search-results--container {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
  justify-content: center;
  align-items: center;
}

@keyframes cardDisplay {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);

  }
}

.card--anchor {
  animation: cardDisplay 300ms ease-out;
  animation-fill-mode: backwards;

}

.card--cover-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card--anchor:hover {
  animation-delay: 0.2s;
  transform: scale(1.1);
  border: 0px;
  opacity: 0.6;
}


.card--anchor:nth-child(1) {
  animation-delay: calc(1 * #{$card-delay});
}
.card--anchor:nth-child(2) {
  animation-delay: calc(2 * #{$card-delay});
}
.card--anchor:nth-child(3) {
  animation-delay: calc(3 * #{$card-delay});
}
.card--anchor:nth-child(4) {
  animation-delay: calc(4 * #{$card-delay});
}
.card--anchor:nth-child(5) {
  animation-delay: calc(5 * #{$card-delay});
}
.card--anchor:nth-child(6) {
  animation-delay: calc(6 * #{$card-delay});
}
.card--anchor:nth-child(7) {
  animation-delay: calc(7 * #{$card-delay});
}
.card--anchor:nth-child(8) {
  animation-delay: calc(8 * #{$card-delay});
}
.card--anchor:nth-child(9) {
  animation-delay: calc(9 * #{$card-delay});
}
.card--anchor:nth-child(10) {
  animation-delay: calc(10 * #{$card-delay});
}
.card--anchor:nth-child(11) {
  animation-delay: calc(11 * #{$card-delay});
}
.card--anchor:nth-child(12) {
  animation-delay: calc(12 * #{$card-delay});
}
.card--anchor:nth-child(13) {
  animation-delay: calc(13 * #{$card-delay});
}
.card--anchor:nth-child(14) {
  animation-delay: calc(14 * #{$card-delay});
}
.card--anchor:nth-child(15) {
  animation-delay: calc(15 * #{$card-delay});
}
.card--anchor:nth-child(16) {
  animation-delay: calc(16 * #{$card-delay});
}
.card--anchor:nth-child(17) {
  animation-delay: calc(17 * #{$card-delay});
}
.card--anchor:nth-child(18) {
  animation-delay: calc(18 * #{$card-delay});
}

.search-results--list {
  padding: 0px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
  grid-auto-rows: 300px;
  gap: 20px;
  width: 100%;
}

.card--img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid black;
}

.search-results--list > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 10px;
  color: black;
}

.search-results--item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  margin-bottom: 12px;
}

.results--card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.card--name {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.card--name.blend-noted {
  text-shadow: 2px 2px black,
}

.toggle--container {
  border-radius: 5px;
  padding: 5px 5px !important;
  background-color: #DEDBD3 !important;
}

.album--btn,
.artist--btn {
  padding: 0 !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border: 0 !important;
  font-weight: 400 !important;
  border-radius: 5px !important;
  font-size: large !important;
  color: #6A6A6A !important;
  flex: 1;
}


.album--btn:hover,
.artist--btn:hover {
  background-color: transparent !important;
  color: black !important;
}

.btn-check:checked + .btn-outline-primary {
  background-color: #6A6A6A !important;
  color: #DEDBD3 !important;
}

.results--toggle-con {
  display: grid !important;
  grid-template-columns: 150px 150px 150px;
}

.results--divider {
  width: 50%;
  border: 1px solid #4D5759;
  margin-bottom: 5px;
}


.search-results--container .score-box {
  display: inline-flex;
  border: 2px solid white;
  padding: 1px 12px;
  border-radius: 12px;
  gap: 3px;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  font-size: 12px;
  box-shadow: 1px 1px black;
}

.search-results--container .rating-logo {
  width: 1rem;
  height: 1rem;
  filter: invert(1) drop-shadow(1px 1px 1px black);
}

.search-results--container .rating-score {
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
  text-shadow: 1px 1px black;
}
