// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover-page {
  display: flex;
  color: blue;
  justify-content: space-between;
  height: 85vh;
}

.artist-container {
  margin: 0;
}

.artist-main {
  flex: 1;
  background-color: #DEDBD3;
  display: flex;
}
.artist-image {
  flex: 1;
  background-size: cover;
}

.divider {
  height: 90%;
  border-right: 3px #B4C3B2 solid;
  margin-left: 25px;
  margin-top: auto;
}

.artist-info {
  margin-top: auto;
  padding-left: 40px ;
  padding-bottom: 80px;
  color: #4D5759;

}

.artist-name {
  font-size: 60px;
  color: #4D5759;
}


.more-btn {
  color: black;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #6A6A6A;
  outline: none;
  border: 0px;
  font-size: 15px;
  padding: 5px 20px;
}

.artist-stats {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews-title {
  color: #4D5759;
  font-size: 25px;
}

.title-divider {
  border-top: 2px solid black;
  padding-top: 5px;
}

.song-name {
}


.reviewed-songs {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  margin-top: 10px;
}

.song-item {
  display: flex;
  background-color: #B4C3B2;
  border-radius: 10px;
  padding: 8px 20px;
  justify-content: space-between;
}


.song-item:hover {
  cursor: pointer;
  background-color: #b4c3b28f;
}
.song-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  transition: all 0.8s ease-in-out;
}

.song-reviews {
  display: flex;
  border-radius: 15px;
  border: 0px;
  background-color: #DEDBD3;
  padding: 2px 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.reviewed-albums-container {
  margin-top: 20px;
}

.reviewed-albums {
  display: flex;
  padding: 3rem;
}
.albums-review-img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}

.reviewed-albums-item {
  border: 2px solid black;

  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 250px;
  padding: 1.5rem;

  border-radius: 16px;
  background: #B4C3B2 ;

  transition: 0.2s;

  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.reviewed-albums-item:hover {
  transform: translateY(-1rem);
  background-color: #9dac9b;
  cursor: pointer;
}

.reviewed-albums-item:hover~.reviewed-albums-item {
  transform: translateX((130px));
}


.reviewed-albums-item:not(:first-child) {
  margin-left: -130px;
}

.reviewed-albums {
  overflow: scroll;
}

.reviewed-album-title {
  font-size: large;
  font-weight: bold;
  font-style: italic;
  padding-top: 10px;
}


.show-more-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.fa-circle-chevron-down {
  color: #B4C3B2;
  font-size: 25px;
}

.fa-circle-chevron-down:hover {
  color: #768873;
  cursor: pointer;
}

.reviewed-album-title >  a{
  text-decoration: none;
  color: #4D5759;
  transition: none;
}

.reviewed-album-title  > a:hover {
  color:white;
  background-color: transparent;
  border: 0px;
}

.song-reviews:hover {
  background-color: #b4c3b2;

}
