:root {
  --default-card-color: #b4c3b2;
  --vertical-card-color: #aac4a6;
  --big-card-color: #99b595;
  --horizontal-card-color: #b0d0ac;
}

.user-banner {
  background-color: #dedbd3;
}

.profile-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 0 10%;
  border-radius: 50%;
}

// <------------------ GENERAL FEED CONTAINER --------------------->
$spanRow: 220px;
$spanCol: 170px;

.feed--container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax($spanCol, 1fr));
  grid-auto-rows: $spanRow;
  grid-auto-flow: dense;

  margin: 15px 20px;
}

.feed--review-item.default {
  .feed--username--text {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.feed--username--text {
  margin-bottom: 0;
}

.feed--username--text:hover {
  color: white;
}

.feed--review-item {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  justify-content: flex-start;

  background-image: linear-gradient(to bottom, #b4c3b2, #e5b4b4);

  &.default {
    background-color: var(--default-card-color);

    grid-column: span 1;
    grid-row: span 1;
  }
  &.vertical {
    background-color: var(--vertical-card-color);

    grid-row: span 2;
  }
  &.big {
    background-color: var(--big-card-color);

    grid-column: span 2;
    grid-row: span 2;
  }
  &.horizontal {
    background-color: var(--horizontal-card-color);

    grid-column: span 2;
    grid-row: span 1;
  }
}

.feed--review-con {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}

.feed--img-con {
  display: flex;
  gap: 3px;
  justify-content: flex-start;
  align-items: center;
}

.feed--img-con a {
  background-color: transparent;
}

.feed--img-con a:hover {
  background-color: transparent;
}

.feed--img-con .feed--img {
  margin-left: 0px !important;
}
.feed--review-info {
  display: flex;
  flex-direction: column;
}

.feed--info-con {
  font-size: 22px;
  display: inline-block;
}

.feed--username {
  font-size: 0.7em;
  max-height: 30px;
}

.feed--username > a {
  color: black;
  transition: all 0.2s;
}

.feed--username > a:hover {
  background-color: transparent;
  border-bottom: 1px solid black;
}

.feed--review-stats {
  display: flex;
  align-items: center;
  font-size: 0.85em;
  gap: 5px;
  flex-wrap: wrap;
}

.feed--review-stats > a {
  transition: all 0.2s;
  color: black;
}

.feed--review-stats > a:hover {
  background-color: transparent;
  color: white;
}

.feed--rating-box .score-box {
  display: inline-flex;
  border: 1px solid black;
  padding: 5px 5px;
  border-radius: 12px;
  gap: 3px;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  font-size: 12px;
}

.feed-review-title {
  font-size: 0.6em;
}

.feed-review-type {
  font-size: 0.5em;
}

.word-breaker {
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

.feed-talking-marks.text-muted {
  font-size: 12px;
  color: black !important;
  display: inline;
}

.review--text {
  padding-top: 1px;
  overflow-wrap: break-word;
  word-break: break-word;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
}
.feed--review-text {
  font-size: 1em;
  display: inline-block;
  margin-top: 3px;
}

.feed--review-item.default .review--text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9em;
}
.feed--review-item.horizontal .review--text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.85em;
}
.feed--review-item.vertical .review--text {
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.75em;
}
.feed--review-item.big .review--text{

  font-size: 0.7em;
}

.feed--review-item.big .review--text span{
  display: -webkit-box;
  -webkit-line-clamp: 16;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1em;
}



.feed--header {
  margin: 10px;
}

.reviews-title {
  margin-bottom: 3px;
}

.review--text-desc {
  margin: 0px 3px;
}

.feed--review-item.big .review--text-desc {
  margin: 0px;
  padding-left: 10px;
}
